
<%= javascript_include_tag "postgresql_services" %>
<%= javascript_include_tag "postgresql_module" %>
<%= stylesheet_link_tag "https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" %>
<%= javascript_include_tag "https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" %>

<div ng-app="geogutenberg" ng-cloak>
  <%= render "box1" %>
  <%= render "box2" %>
  <%= render "box3" %>
  <%= render "box4" %>
</div>