<%= javascript_include_tag "postgresql_services" %>
<%= javascript_include_tag "postgresql_module" %>
<%= javascript_include_tag "mongodb_services" %>
<%= javascript_include_tag "mongodb_module" %>

<div ng-app="geogutenberg" ng-cloak>
  <%= render "postgresql" %>
  <%= render "mongodb" %>
</div>